*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

header {
    margin-bottom: 40px;
}

header .calc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.margin-container {
    margin-left: 3vw;
    margin-right: 3vw;
}

header h1 {
    margin-top: 10px;
}

header h1 a {
    font-size: 1.5em;
}

.menu,
.submenu {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: firebrick;
}

header h1:active {
    color: firebrick;
}

header .menu a:active,
header .submenu a:active {
    color: blue;
}

.submenu {
    position: absolute;
    display: none;
}

#navegacao-superior {
    display: flex;
}

#navegacao-superior>li {
    padding: 10px 0 5px 5vw;
}

.menu>li:hover>.submenu {
    display: block;
}

main {
    padding-top: 20px;
}

.main-img-container {
    display: flex;
    justify-content: space-around;
    padding: 45px 0;
}


/*Página de Formulário: */


/*Formulário*/

#section-contato {
    padding-top: 6.5vh;
}

.coluna-centro h2.main-title {
    margin-bottom: 4vw;
    font-size: 1.5em;
    color: firebrick;
}

#article-contato {
    justify-content: space-between;
}

#article-contato h2 {
    padding-bottom: 1em;
}

.formulario-contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 27vw;
}

form button {
    display: block;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

form>.calc-container {
    padding: 10px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


/*Div do Mapa*/

#mapa-box h2 {
    padding-bottom: 1em;
}

#mapa-box p {
    padding-bottom: 0.5em;
}


/*Footer*/

footer {
    padding: 60px 0 40px;
}

footer .calc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h1 {
    margin-top: 10px;
}

footer h1 a {
    font-size: 1.5em;
}

footer a {
    text-decoration: none;
    color: firebrick;
}

footer h1:active {
    color: firebrick;
}

footer .menu a:active,
footer .submenu a:active {
    color: blue;
}

#navegacao-footer {
    display: flex;
}

#navegacao-footer>li {
    padding: 15px 2vw 5px 2vw;
}


/*Globais*/

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.coluna-centro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coluna-centro h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.space-left {
    margin-left: 2em;
}

.space-right {
    margin-right: 2em;
}

.footer-spacing {
    margin-bottom: 30px;
}


/* Classes usadas diretamente pelo JS*/

.validacao-ok {
    color: green;
}

.validacao-negada {
    color: red;
}